@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    font-family: 'Poppins', sans-serif;
    overscroll-behavior: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    scrollbar-width: none;
  }
}